<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, minimum-scale=1.0">
      <meta name="theme-color" content="#01c1d5">

      <link rel="stylesheet" href="http://template.streamdata.gallery/assets/style.css">
      <link href="http://template.streamdata.gallery/assets/font.css" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="http://template.streamdata.gallery/assets/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://template.streamdata.gallery/assets/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://template.streamdata.gallery/assets/favicon-16x16.png">
      <link rel="manifest" href="http://template.streamdata.gallery/assets/manifest.json">
      <link rel="mask-icon" href="http://template.streamdata.gallery/assets/safari-pinned-tab.svg" color="#ff4040">
      <meta name="theme-color" content="#ffffff">
      <title>API Gallery to evaluate API polling versus event-driven streaming</title>
      <link rel="stylesheet" id="contact-form-7-css" href="http://template.streamdata.gallery/assets/styles.css" type="text/css" media="all">
      <script type="text/javascript" src="http://template.streamdata.gallery/assets/jquery.js"></script>

   </head>
